@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://db.onlinewebfonts.com/c/08d650113a671928fa80a338975338ec?family=Trade+Gothic+Next+Rust+W01+Hv');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
  }
  
  .footer-text-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
  }
  
  .footer-text-bold {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
  }

  .slide-info-regular {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .slide-info-semibold {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .slide-info-bold {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: normal;
  }  

  .error-oops {
    font-family: "Trade Gothic Next Rust W01 Hv";
    font-weight: 400;
  }

  .error-description {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
  }

  .nav-options {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
  }